@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Freeman&display=swap');

:root {
    --theme-color-1: #F2CC8F;
    --background: #F4F1DE;
    --theme-color-2: #3D405B;
    --accent: #f4bb60;
  }

/*STILI BASE*/
body{
    max-width: 2000px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background: var(--background);
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.fsasa{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.fsac{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fcc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fsae{
    display: flex;
    justify-content: space-around;
    align-items: end;
}


/* NAVBAR */
.navbar{
    width: 100%;
    height: 10vh;
    position: relative;
}

.navbar li{
    list-style: none;
    border-bottom: var(--theme-color-1) 5px solid;
    transition: all 0.5s ease;
}

.navbar li:hover{
    list-style: none;
    border-bottom: var(--theme-color-1) 7px solid;
}

.navbar .links a, .navbar .title a{
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
    color: var(--theme-color-2);
}

.navbar li a:hover{
    transform: scale(1.1);
    transform: translateY(-2px);
}

.navbar .title{
    width: 40%;
    height: 100%;
    font-size: 4rem;
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"ELSH" 0;    
    border-bottom: 0px solid;
}

.navbar .title:hover{ 
    border-bottom: 0px solid;
}

.burger{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

.line1, .line2, .line3{
    width: 100%;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: var(--theme-color-2);
    transition: 0.4s;
}

.dropdown-menu{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 40vh;
    z-index: 0;
    width: 100%;
    flex-direction: column;
    background: var(--theme-color-2);
    display: none;
border-bottom: solid var(--theme-color-1) 6px;
}

.dropdown-links a{
    color: var(--theme-color-1);
    margin-top: 10px;
}

@media only screen and (max-width: 740px) {
    .navbar .links{
        display: none;
    }
    .navbar .title{
        width: 100%;
        font-size: 3rem;
    z-index: 1;
    }
    .burger{
        display: block;
    }}

/*SLIDESHOW*/
.slideshow-container{
    width: 100%;
    height: 80vh;
    margin: auto;
}

.img-container{
    width: 80%;
    height: 80%;
    border: solid var(--theme-color-2) 5px;
    margin: auto;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s linear;
}

.next, .prev{
    height: 100%;
    width: 10%;
}

.next button, .prev button{
    background:var(--theme-color-2);
    width: 5vw;
    height: 5vw;
    border-radius: 100px;
    font-weight: bold;
    color: var(--background);
    font-size: 1.5rem;
}

.slogan{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 12%;
    font-size: 7rem;
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"ELSH" 0;
    color: var(--theme-color-1);
    text-shadow: var(--theme-color-2) -10px 5px;
}

@media only screen and (max-width: 1340px) {
    .slogan{
        font-size: 6rem;
    }}    
@media only screen and (max-width: 1100px) {
    .slogan{
        font-size: 5rem;
    }}
@media only screen and (max-width: 900px) {
    .slogan{
        width: 90%;
        line-height: 70px;
        font-size: 4rem;
        text-align: center;
    }
    .img-container{
        width: 100%;
        height: 80vh;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    .next, .prev{
        position: absolute;
        height: 80vh;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        opacity: 0;
    }
    .next{
        right: 0;
    }
    .prev{
        left: 0;
    }}

/*CARDS*/
.cards-container{
    position: relative;
    width: 100%;
    height: 70vh;
}

.card{
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: var(--theme-color-1) 5px 5px;
    background: var(--theme-color-2);
    flex-direction: column;
    transition: all 0.5s ease;
}

.card:hover{
    transform: scale(1.05);
}

.card-img{
    width: 90%;
    margin: auto;
    height: 55%;
    border-radius: 10px;
    background: var(--background);
}

.inner-card-title{
    color:var(--background);
    height: 5%;
    font-size: 1.5rem;
}

.card-desc{
    color:var(--background);
    height: 10%;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    margin: auto;
}

.shop-now{
    height: 7%;
    width: 30%;
    margin: auto;
}

.shop-now button{
    width: 100%;
    height: 100%;
    background: var(--theme-color-2);
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid var(--accent);
    color: var(--background);
    transition: all 0.5s ease;
}

.shop-now button:hover{
    background: var(--accent);
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid var(--accent);
    color: var(--background);
}

.card1{
    background: url(./img/slideshow/1.jpg);
}

.card2{
    background: url(./img/slideshow/2.jpg);
}

.card3{
    background: url(./img/slideshow/3.jpg);
}

.card1, .card2, .card3{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 1480px) {
    .card-img{
        height: 40%;
    }
    .inner-card-title{
        font-size: 2rem;
        height: 5%;
    }
    .card-desc{
        font-size: 1rem;
    }
    .shop-now{
        height: 10%;
    }}    
@media only screen and (max-width: 1100px) {
    .inner-card-title
    {
        height: 10%;
    }
    .cards-container{
        flex-direction: column;
        height: 180vh;
        justify-content: center;
        align-items: center;
    }
    .card-img{
        width: 100%;
        background-size: cover;
        height: 50%;
        border-radius: 0%;
    }
    .card{
        width: 70%;
        height: 30%;
        margin: auto;
    }}
@media only screen and (max-width: 850px) {
    .cards-container{
        flex-direction: column;
        height: 200vh;
        justify-content: center;
        align-items: center;
    }
    .inner-card-title{
        height: 5%;
    }
    .card{
        width: 75%;
        height: 30%;
        margin: auto;
    }
    .card-desc{
        font-size: 1.3rem;
    }}
@media only screen and (max-width: 550px) {
        .cards-container{
            flex-direction: column;
            height: 200vh;
            justify-content: center;
            align-items: center;
        }
        .card{
            width: 80%;
            height: 30%;
            margin: auto;
        }
        .card-desc{
            font-size: 1rem;
        }}

/*MAP*/
.map-container {
    position: relative;
  height: 80vh;
  width: 100%;
  background: var(--background);
  margin-top: 8vh;
}

.map{
    width: 80%;
    height: 80%;
    margin: auto;
    border: solid var(--theme-color-2) 5px;
    border-radius: 10px;
}

.slogan-map{
    width: 100%;
    text-align: center;
    position: absolute;
    top: -10%;
    font-size: 7rem;
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"ELSH" 0;
    color: var(--theme-color-1);
    text-shadow: var(--theme-color-2) -10px 5px;
}

@media only screen and (max-width: 850px) {
    .slogan-map{
        font-size: 5rem;
    }}
@media only screen and (max-width: 600px) {
        .slogan-map{
            width: 60%;
            left: 50%;
            transform: translateX(-50%);
            line-height: 70px;
        }}

/*FOOTER*/
.footer{
    width: 100%;
    height: 15vh;
    background: var(--theme-color-2);
    flex-direction: column;
    color: var(--theme-color-1);
}

.footer a{
    color: var(--accent);
}


/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
    background: var(--theme-color-2);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color-1); }
::-webkit-scrollbar-thumb:hover {
background: var(--accent); }

/* CONTATTI - FORM STYLING */
form {
    width: 50%; 
    height: 60vh;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--theme-color-2);
    border-radius: 10px;
    box-shadow: var(--theme-color-1) 5px 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--theme-color-1);
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--theme-color-1);
    border-radius: 5px;
    background-color: var(--background); 
    color: var(--theme-color-2);
}

textarea {
    height: 30%;
}

button[type="submit"] {
    background-color: var(--theme-color-2);
    color: var(--background);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
    border: 2px solid var(--accent);
}

button[type="submit"]:hover {
    background-color: var(--accent);
}

@media only screen and (max-width: 740px) {
    form{
        width: 70%;
    }}

/*CONTATTI - SOCIALS*/
.social-icon{
    margin: 0 5% 0 5%;
    border: solid var(--accent) 5px;
    width: 5vw;
    height: 5vw;
    border-radius: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
}
 
.social-icon:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 1400px) {
    .social-icon{
        width: 10vw;
    height: 10vw;
    }}
@media only screen and (max-width: 900px) {
    .social-icon{
        width: 13vw;
    height: 13vw;
    }}

/*FAQS*/
.faq-container{
    width: 90vw;
    height: 70vh;
    margin: auto;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh 20vh 20vh 20vh;
    gap: 2%; }
.faq-title{
    grid-column: 1/3;
    font-size: 3rem;
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"ELSH" 0;
    color: var(--theme-color-2);
    text-shadow: var(--theme-color-1) -8px 2px;
}

.question{
    margin-bottom: 2%;
    background: var(--theme-color-2);
    border-radius: 10px 0px 10px 0px;
    flex-direction: column;
    max-height: 20vh;
    min-height: 20vh;
}

.question-title{
    width: 95%;
    font-size: 1.5rem;
    color: var(--accent);
}

.faq-answer{
    width: 95%;
    color: var(--theme-color-1);
}

@media only screen and (max-width: 1100px) {
    .faq-container{
        height: 130vh;
        border-bottom: 20px;
    }
    .question{
        grid-template-rows: 10vh 20vh 20vh 20vh 20vh 20vh 20vh;
        grid-column: 1/3;
    }
    .faq-title{
        font-size: 2.5rem;
    }
    .faq-answer{
        font-size: 1rem;
    }}
@media only screen and (max-width: 700px) {
    .faq-container{
        height: 130vh;
        border-bottom: 20px;
    }
    .question{
        grid-template-rows: 10vh 20vh 20vh 20vh 20vh 20vh 20vh;
        grid-column: 1/3;
    }
    .faq-title{
        font-size: 2rem;
    }
    .faq-answer{
        font-size: 0.8rem;
    }}

/*CATALOG*/
.category-buttons{
    width: 100%;
    height: 5vh;
    margin-top: 5vh;
}

.category-btn{
    height: 80%;
    width: 10%;
    margin: 0px 20px 0px 2%;
    border-radius: 10px;
    background: var(--theme-color-1);
    color: var(--theme-color-2);
    font-weight: bold;
    border: 2px solid var(--theme-color-2);
    transition: all 0.5s ease;
}

.category-btn:hover{
    color: var(--theme-color-1);
    background: var(--theme-color-2);
}

.category-btn-active{
    color: var(--theme-color-1);
    background: var(--theme-color-2);
}

.products-container{
    height: 65vh;
    width: 80vw;
    MARGIN: AUTO;
}

.product-card{
    background: var(--theme-color-1);
    width: 20%;
    height: 70%;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: var(--theme-color-2) 5px 5px;
}

.product-img{
    width: 90%;
    height: 55%;
    border-radius: 10px;
}

.product-name{
    font-size: 1.5rem;
    height: 10%;
    width: 90%;
    color: var(--theme-color-2);
text-align: center;
}

.product-price{
    height: 10%;
    width: 90%;
    color: var(--theme-color-2);
text-align: center;
}

.product-btn{
    height: 15%;
    width: 90%;
text-align: center;
}

.product-btn button{
    width: 70%;
    height: 80%;
    border-radius: 10px;
    background: var(--theme-color-1);
    border: solid 3px var(--theme-color-2);
}

.product-btn img{
    margin-right: 10px;
}

@media only screen and (max-width: 1500px) {
    .products-container{
        width: 90vw;
    }}
@media only screen and (max-width: 1300px) {
    .products-container{
        height: 120vh;
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 50% 50%;
    }

    .product-card{
        width: 100%;
    }}
@media only screen and (max-width: 900px) {
    .category-btn{
        width: 20%;
    }
    .products-container{
        height: 120vh;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 50% 50%;
    }

    .product-card{
        width: 100%;
    }}
@media only screen and (max-width: 550px) {
    .category-btn{
        width: 30%;
    }
    .products-container{
        height: 180vh;
        display: flex;
        flex-direction: column;
    }

    .product-card{
        width: 60%;
        height: 40vh;
}}

/*ABOUT*/
.about-container{
    height: 75vh;
    width: 80%;
    margin: auto;
}
.about-text{
    width: 30%;
    height: 80%;
    margin-right: 10px;
}
.about-title{
    font-size: 2rem;
    font-family: "Danfo", serif;
    font-variation-settings:"ELSH" 0;
    color: var(--theme-color-1);
    text-shadow: var(--theme-color-2) -5px 2px;
    margin-bottom: 5px;   
}

.about-img{
    width: 70%;
    height: 80%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.about-img-div1, .about-img-div2{
    height: 50%;
    width: 100%;
}

.about-img-1{
    width: 50%;
    height: 100%;
    background: url("./img/about/about-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-img-2{
    width: 50%;
    height: 100%;
    background: url("./img/about/about-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.about-img-3{
    width: 100%;
    height: 100%;
    background: url("./img/about/about-3.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}